// /*******************************************************
// ********************************************************
// **
// **  README SONNNNNzzzzz
// **
// **  1. This file controls the entire application theme view 
// **
// ********************************************************
// ********************************************************/



// /*******************************************************
// ********************************************************
// **
// **  Fonts
// **
// ********************************************************
// ********************************************************/


$font_primary: -apple-system;
$font_base: $font_primary, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif' !default;


// /*******************************************************
// ********************************************************
// **
// **  Grid
// **
// ********************************************************
// ********************************************************/


$breakpoints: (
    xs: 0,
    sm: 640px,
    md: 1024px,
    lg: 1366px,
);

:export { 
    breakpointSm: strip-unit(breakpoint(sm));
    breakpointMd: strip-unit(breakpoint(md));
    breakpointLg: strip-unit(breakpoint(lg));
};


// /*******************************************************
// ********************************************************
// **
// **  Colors
// **
// ********************************************************
// ********************************************************/


$colors: ( // dark theme

    // main colors
    primary:#D3D3D3,

    // font colors
    headerText:#D3D3D3,
    bodyText:#C0BDBD,
    lightText: rgb(211, 211, 211),
    extraLightText: rgb(211, 211, 211),

    // accent colors
    accent:#F4AE3F,
    accentLight: #F4AE3F,

    pageBackground: #292D32, 
    lightBackground: #2A2D32,
    boxBackground: transparent,
    boxBorder: rgba(244, 174, 63, 0.5),
    boxShadow:rgba(0, 0, 0, 0.15),
    pageOverlay: rgba(19, 9, 9, 0.35),
    onOverlayBackground:#2A2D32,
    globalElementBackground: #2A2D32,
);


// /*******************************************************
// ********************************************************
// **
// **  Custom Animations
// **
// ********************************************************
// ********************************************************/


$custom_animation: cubic-bezier(0.85, 0.08, 0.08, 0.99);
