/*******************************************************
********************************************************
**
**  README SONNNNNzzzzz
**
**  1. This file controls the entire application theme view 
**
********************************************************
********************************************************/



/*******************************************************
********************************************************
**
**  Grid
**
********************************************************
********************************************************/


$breakpoints: (
    xs: 0,
    sm: 640px,
    md: 1024px,
    lg: 1366px,
);

:export { 
    breakpointSm: strip-unit(breakpoint(sm));
    breakpointMd: strip-unit(breakpoint(md));
    breakpointLg: strip-unit(breakpoint(lg));
};


/*******************************************************
********************************************************
**
**  Colors
**
********************************************************
********************************************************/


$colors: (
    primary: #3B3B3B,
    secondary: #58595b,
    tertiary: #414042,
    accent: #989898,
    accentSecondary: lightgray,
);


/*******************************************************
********************************************************
**
**  Custom Animations
**
********************************************************
********************************************************/


$custom_animation: cubic-bezier(0.75, 0.18, 0.08, 0.31);